<nav class="nav navbar-expand-md fixed-top top-nav">
    <a href="" class="nav-brand"><img width="100" src="/images/atu_logo (2).png" alt=""></a>
    <ul class="nav-text">
        <section>
            <h4 class="texts"><b>ACCRA TECHNICAL UNIVERSITY</b></h4>
            <h6 style="margin-left: 50px;">INTEGRITY, CREATIVITY & EXCELLENCE</h6>
        </section>
    </ul>
</nav>
<div class="container row body-top" style="padding-top: 20px;">
    <div class="col-md-6">
        <a href="#">
            <button class="btn button" type="submit">click to view lab test to be conducted</button>
        </a>
    </div>
</div>
<hr>
<div class="container row">
    <div class="col-md-6">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" name="labResults" id="floatingTextarea2"
                style="height: 100px"></textarea>
            <label for="floatingTextarea2">Lab results</label>
            <button class="btn button mt-2">
                Send to Doctor
            </button>
        </div>
    </div>
</div>
<div class="card footer" style="margin-top: 18.9%;">
    <div class="card-body text-center">
        <h5 class="card-title">ATU EMR SYSTEM</h5>
        <p class="card-text">© Copyright 2021. ATU EMR SYSTEM. All rights reserved. l Terms of use l Privacy Policy</p>
    </div>
</div>